nav h2{
    text-align: center;
    border:1px solid rgb(206, 199, 199);
    padding:10px;
    background-color:white;
    font-weight: 100;
    box-shadow: 0em .01em .01em .01em;
    color:rgb(87, 90, 92)
}
nav{
position: sticky;
top:0.0px;
}
.container  h4{
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    color:rgb(94, 96, 98)
}
.conti{
display: flex;
justify-content: center;
}
.conti input{
    display:none;
}
.label{
    border:none;
    background-color:rgb(22, 135, 92);
    padding:1em;
    border-radius: 10px;
    color:white;
}
.container{
    border:1px solid rgb(110, 108, 108);
    margin:0em 30%;
    padding-bottom: 1em;
    border-radius: 10px;
    box-shadow:0em .01em ;
}
@media screen and (max-width: 600px) {
    .container{
        margin:0em 0.2cm;
    }
  }
  